.mainpage{
	width: 100%;
	
	background-image: linear-gradient(to right,#8360c3,#2ebf91);
	position: absolute; top: 0; right: 0; bottom: 30px; left: 0;
}
.menu{
	position: absolute;
	width: 50px;
	height: 100%;
	background-color: #899FAB;
	list-style: none;
}
.titl2 h3{
	text-align: center;
}
.menu .a1{
	font-size: 15px;
	color: #FFFFFF;
	text-shadow: 5px 5px 5px #e9eef4;
	text-decoration: none;
	width: 25px;
	display: flex;
	margin-left: 15px;
	margin-top: 20px;
}
.menu li a:hover{
	color: #6d389c;
	text-shadow: 5px 5px 5px #557d8f;
}
#submenu {
	position: absolute;
	 /* visibility: hidden; */
	z-index: 1;	
	width: 30px;
}
li:hover ul#submenu {
	opacity: 1;
	visibility: visible;
}
#submenu li {
	width: 30px;
	list-style: none;
	font-size: 15px;
	color: #FFFFFF;
}
#submenu a:hover {
	background: #425066;
}
#submenu a {
	font-size: 18px;
	text-decoration: none;
	color: white;
	width: 50px;
}
#title{
	position: absolute;
	font-size: 30px;
	margin-left: 90%;
	color: #FFFFFF;
}
.to{
	margin-left: 40px;
}
.f1{
	margin-top: 15px;
	height: 145px;
	width: 100px;
	margin-left: 600px;
	position: absolute;
}
.f2{
	margin-top: 50px;
	height: 175px;
	width: 260px;
	margin-left: 530px;
	position: absolute;
}
.f3{
	margin-top: 100px;
	position: absolute;
	height: 200px;
	width: 500px;
	margin-left: 450px;
}
.f4{
	margin-top: 150px;
	position: absolute;
	height: 200px;
	width: 800px;
	margin-left: 350px;
}
.p1{
	width: 100px;
}
.p2{
	width: 112px;
}
.p3{
	width: 124px;
}
.p4{
	width: 136px;
}
.cl{
	position: absolute;
	margin-top: 230px;
	margin-left: 350px;
	width: 600px;
	height: 190px;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.1);
}
.line1{
	width: 800px;
	height:90px;
}
.line2{
	margin-top: 3px;
}
.button1{
	height:85px;
	margin-top:5px;
	margin-left:5px;
	width: 290px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	color: white;
	background-image: linear-gradient(to right,#141e30,#243b55);
	border-radius: 25px;
	text-shadow: 5px 5px 5px #eaeaea;
}
.button1:hover{
	background-image: linear-gradient(to right,#2193b0,#6dd5ed);
}
.button1 div{
	margin-top: 12px;
	text-align: center;
}

footer{
	height: 20px;
	width: 100%;
	display: flex;
	background-color: black;
	bottom: 0px;
}
footer p{
	margin-left:110px;
	margin-top: 20px;
	color: #899FAB;
}